<!-- <nav class="navbar navbar-inverse navbar-embossed" role="navigation" ng-if="isAuthenticated">
  <div class="navbar-header">
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse-01">
      <span class="sr-only">Toggle navigation</span>
    </button>
    <a class="navbar-brand" href="/">High Perfomance</a>
  </div>
  <div class="collapse navbar-collapse" id="navbar-collapse-01" ng-if="isAuthenticated">
    <ul class="nav navbar-nav">
      <li ng-repeat="route in routes" ng-class="{active:isActive(route.PATH)}"><a ng-href="{{route.PATH}}" ng-click="collapse()">{{route.NAME}}</a></li>
    </ul>
    <div class="navbar-right navbar-user-settings">
      <p class="navbar-text">{{navRole}} {{navUsername}}</p>
      <a href="/configuracion" class="btn btn-default navbar-btn btn-sm settings" ng-click="collapse()">
        <span class="fui-gear"></span>
      </a>
      <a href="/logout" class="btn btn-default navbar-btn btn-sm logout" ng-click="collapse()">
        <span class="fui-exit"></span>
      </a>
    </div>
  </div>
</nav> -->



<div class="header-section" ng-if="isAuthenticated">
  <!-- Start Navigation -->
  <nav class="navbar navbar-default cart">
    <div class="container">

      <!-- Start Atribute Navigation -->
      <div class="attr-nav shoping-cart-box">
      <a href="/logout" class="dropdown-toggle" ng-click="collapse()">
        <i class="fa fa-sign-out"></i>
      </a>
      <div class="shop-cart">
        <span class="cart-price">{{navRole}}</span>
        <p>{{navUsername}}</p>
      </div>
      </div>
    <!-- End Atribute Navigation -->

      <!-- Start Header Navigation -->
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed top-m-btn" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="/"><img src="img/logo.png" class="logo" alt=""></a>
      </div>
      <!-- End Header Navigation -->

      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse top-nav" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav navbar-right">
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Mantenimiento <b class="caret"></b></a>
            <ul class="dropdown-menu">
              <li><a href="/club/m-tournament">Torneos</a></li>
              <li><a href="/club/m-rival">Rivales</a></li>
            </ul>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</div>
