<section id="club-detail">
  <div class="player-profile-section page-title-section">
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <div class="section-title profile-title">
            <div class="match-left">
              <div class="today-team-img teamsname">
                <a href="#">
                  <img ng-src="{{club.picture}}" width="65" height="63" alt="" ng-show="club.picture">
                </a>
              </div>
            </div>
            <h1>{{club.full_name}}</h1>
          </div>
        </div>
        <div class="col-md-6">
          <div class="pagination-area">
            <ul>
              <li><a href="/">Equipos<i class="fa fa-angle-right" aria-hidden="true"></i></a></li>
              <li class="active"><a href="#">{{club.full_name}}</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="super-cup-league-section">
    <div class="container">
      <div class="row">
        <div class="col-md12">
          <div class="tab-area">
            <ul class="nav nav-tabs" role="tablist">
              <li role="presentation" class="active"><a href="#report-tab" aria-controls="home" role="tab" data-toggle="tab" aria-expanded="true">Reporte</a></li>
              <li role="presentation" class=""><a href="#match-tab" aria-controls="profile" role="tab" data-toggle="tab" aria-expanded="false">Partidos</a></li>
            </ul>
            <div class="tab-content">
              <div role="tabpanel" class="tab-pane active" id="report-tab">
                <div class="fixture-title">
                  <h1>Reporte</h1>
                </div>
                <div class="col-md-12">
                  <div class="row filter-row">
                    <div class="col-md-10 col-md-offset-1">
                      <uib-alert type="{{filterAlert.type}}" close="cleanAlert()" ng-show="filterAlert">{{filterAlert.text}}</uib-alert>
                    </div>
                    <form class="form-inline" role="form" ng-submit="filterMatch()">
                      <div class="form-group">
                        <label for="tournament">Torneo</label>
                        <ui-select ng-model="filter.tournament_id" class="form-control form-control-select" on-select="selectTournament(filter.tournament_id,true)">
                          <ui-select-match>
                            <span ng-bind="$select.selected.name"></span>
                          </ui-select-match>
                          <ui-select-choices repeat="tournamentItem.id as tournamentItem in (tournamentList | filter: $select.search) track by tournamentItem.id">
                              <span ng-bind="tournamentItem.name"></span>
                            </ui-select-choices>
                        </ui-select>
                      </div>
                      <div class="filter-row-2">
                        <div class="form-group" ng-show="false">
                          <label for="local">Equipo</label>
                          <ui-select ng-model="filter.first_club_id" class="form-control form-control-select">
                            <ui-select-match>
                              <span ng-bind="$select.selected.full_name"></span>
                            </ui-select-match>
                            <ui-select-choices repeat="homeClub.id as homeClub in (rivalList | filter: $select.search) track by homeClub.id" >
                              <span ng-bind="homeClub.full_name"></span>
                            </ui-select-choices>
                          </ui-select>
                        </div>
                        <div class="form-group">
                          <label>Estado de Equipo</label>
                          <select class="form-control" ng-model="filter.state_first_club_id">
                            <option value="">Ambas</option>
                            <option value="1">Local</option>
                            <option value="2">Visitante</option>
                          </select>
                        </div>
                        <div class="form-group">
                          <label for="local">Rival</label>
                          <ui-select ng-model="filter.second_club_id" class="form-control form-control-select">
                            <ui-select-match>
                              <span ng-bind="$select.selected.full_name"></span>
                            </ui-select-match>
                            <ui-select-choices repeat="rivalClub.id as rivalClub in (rivalList | filter: $select.search) track by rivalClub.id" >
                              <span ng-bind="rivalClub.full_name"></span>
                            </ui-select-choices>
                          </ui-select>
                        </div>
                        <button type="submit" class="icon-search">
                          <i class="fa fa-search"></i>
                        </button>
                        <button type="button" class="icon-clear" ng-click="clearFilter()">
                          <i class="fa fa-times"></i>
                        </button>
                      </div>
                    </form>
                  </div>


                  <div class="row">
                    <div class="col-md-12">
                      <div class="report-panel-container">
                        <div class="row">
                          <div class="report-container" ng-class="report.chart.data.labels.length > 3 ? 'col-md-10 col-md-offset-1' : 'col-md-6'" ng-repeat="report in lastTournamentGeneralReport track by $index">
                            <h2 class="report-name">{{report.name}}</h2>
                            <canvas ng-attr-id="{{report.id}}"></canvas>
                          </div>
                        </div>


                        <div class="row">
                          <div class="col-md-10 col-md-offset-1 col-title">
                            <div class="fixture-title">
                              <h1 class="subreport">Inicio de la Posesión</h1>
                            </div>
                          </div>
                        </div>
                        <div class="row">
                          <div class="col-md-10 col-md-offset-1">
                            <div class="report-panel-container sub-report">
                              <div class="row">
                                <div class="report-container" ng-class="subReport.chart.data.labels.length > 3 ? 'col-md-10 col-md-offset-1' : 'col-md-6'" ng-repeat="subReport in possessionStartReport track by $index">
                                  <h2 class="report-name">{{subReport.name}}</h2>
                                  <canvas ng-attr-id="{{subReport.id}}"></canvas>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>

                        <div class="row">
                          <div class="col-md-10 col-md-offset-1 col-title">
                            <div class="fixture-title">
                              <h1 class="subreport">Situación Inicial del Rival</h1>
                            </div>
                          </div>
                        </div>
                        <div class="row">
                          <div class="col-md-10 col-md-offset-1">
                            <div class="report-panel-container sub-report">
                              <div class="row">
                                <div class="report-container" ng-class="subReport.chart.data.labels.length > 3 ? 'col-md-10 col-md-offset-1' : 'col-md-6'" ng-repeat="subReport in initialSituationReport track by $index">
                                  <h2 class="report-name">{{subReport.name}}</h2>
                                  <canvas ng-attr-id="{{subReport.id}}"></canvas>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>

                        <div class="row">
                          <div class="col-md-10 col-md-offset-1 col-title">
                            <div class="fixture-title">
                              <h1 class="subreport">Desarrollo de la posesión</h1>
                            </div>
                          </div>
                        </div>
                        <div class="row">
                          <div class="col-md-10 col-md-offset-1">
                            <div class="report-panel-container sub-report">
                              <div class="row">
                                <div class="report-container" ng-class="subReport.chart.data.labels.length > 3 ? 'col-md-10 col-md-offset-1' : 'col-md-6'" ng-repeat="subReport in developmentOfPossessionReport track by $index">
                                  <h2 class="report-name">{{subReport.name}}</h2>
                                  <canvas ng-attr-id="{{subReport.id}}"></canvas>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>

                        <div class="row">
                          <div class="col-md-10 col-md-offset-1 col-title">
                            <div class="fixture-title">
                              <h1 class="subreport">Final de la posesión</h1>
                            </div>
                          </div>
                        </div>
                        <div class="row">
                          <div class="col-md-10 col-md-offset-1">
                            <div class="report-panel-container sub-report">
                              <div class="row">
                                <div class="report-container" ng-class="subReport.chart.data.labels.length > 3 ? 'col-md-10 col-md-offset-1' : 'col-md-6'" ng-repeat="subReport in endOfPossessionReport track by $index">
                                  <h2 class="report-name">{{subReport.name}}</h2>
                                  <canvas ng-attr-id="{{subReport.id}}"></canvas>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>

                        <div class="row">
                          <div class="col-md-10 col-md-offset-1 col-title">
                            <div class="fixture-title">
                              <h1 class="subreport">Balón Parado</h1>
                            </div>
                          </div>
                        </div>
                        <div class="row">
                          <div class="col-md-10 col-md-offset-1">
                            <div class="report-panel-container sub-report">
                              <div class="row">
                                <div class="report-container" ng-class="subReport.chart.data.labels.length > 3 ? 'col-md-10 col-md-offset-1' : 'col-md-6'" ng-repeat="subReport in stoppedBallReport track by $index">
                                  <h2 class="report-name">{{subReport.name}}</h2>
                                  <canvas ng-attr-id="{{subReport.id}}"></canvas>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>



                      </div>
                    </div>
                  </div>


                </div>
              </div>
              <div role="tabpanel" class="tab-pane" id="match-tab">
                <div class="fixture-title">
                  <h1>Partidos</h1>
                </div>
                <!-- <div class="row"> -->
                  <div class="col-md-12">
                    <div class="row filter-row">
                      <div class="col-md-10 col-md-offset-1">
                        <uib-alert type="{{filterAlert.type}}" close="cleanAlert()" ng-show="filterAlert">{{filterAlert.text}}</uib-alert>
                      </div>
                      <form class="form-inline" role="form" ng-submit="filterMatch()">
                        <div class="form-group">
                          <label for="tournament">Torneo</label>
                          <ui-select ng-model="filter.tournament_id" class="form-control form-control-select" on-select="selectTournament(filter.tournament_id,true)">
                            <ui-select-match>
                              <span ng-bind="$select.selected.name"></span>
                            </ui-select-match>
                            <ui-select-choices repeat="tournamentItem.id as tournamentItem in (tournamentList | filter: $select.search) track by tournamentItem.id">
                                <span ng-bind="tournamentItem.name"></span>
                              </ui-select-choices>
                          </ui-select>
                        </div>
                        <div class="filter-row-2">
                          <div class="form-group" ng-show="false">
                            <label for="local">Equipo</label>
                            <ui-select ng-model="filter.first_club_id" class="form-control form-control-select">
                              <ui-select-match>
                                <span ng-bind="$select.selected.full_name"></span>
                              </ui-select-match>
                              <ui-select-choices repeat="homeClub.id as homeClub in (rivalList | filter: $select.search) track by homeClub.id" >
                                <span ng-bind="homeClub.full_name"></span>
                              </ui-select-choices>
                            </ui-select>
                          </div>
                          <div class="form-group">
                            <label>Estado de Equipo</label>
                            <select class="form-control" ng-model="filter.state_first_club_id">
                              <option value="">Ambas</option>
                              <option value="1">Local</option>
                              <option value="2">Visitante</option>
                            </select>
                          </div>
                          <div class="form-group">
                            <label for="local">Rival</label>
                            <ui-select ng-model="filter.second_club_id" class="form-control form-control-select">
                              <ui-select-match>
                                <span ng-bind="$select.selected.full_name"></span>
                              </ui-select-match>
                              <ui-select-choices repeat="rivalClub.id as rivalClub in (rivalList | filter: $select.search) track by rivalClub.id" >
                                <span ng-bind="rivalClub.full_name"></span>
                              </ui-select-choices>
                            </ui-select>
                          </div>
                          <button type="submit" class="icon-search">
                            <i class="fa fa-search"></i>
                          </button>
                          <button type="button" class="icon-clear" ng-click="clearFilter()">
                            <i class="fa fa-times"></i>
                          </button>
                        </div>
                      </form>
                    </div>
                  </div>
                <!-- </div> -->
                <div class="row" ng-repeat="match in matchesList track by $index" ng-click="goMatchDetail(match)">
                  <div class="white-match">
                    <div class="col-md-4 col-xs-12">
                      <div class="match-left">
                        <div class="fixture-team-img">
                          <a href="#"><img class="img-responsive" ng-src="{{match.home_club.picture}}" width="64" height="84" alt=""></a>
                        </div>
                        <div class="fixture-team-name fixture-team-left">
                          <h1>{{match.home_club.full_name | limitTo:20}}</h1>
                          <!-- <p>France</p> -->
                        </div>
                      </div>
                    </div>
                    <div class="col-md-4 col-xs-12">
                      <div class="fixture-team-date">
                        <h1 class="fix-res-sp">{{match.home_score}}:{{match.away_score}}</h1>
                        <p>{{match.match_date | date:'dd-MM-yyyy'}}</p>
                      </div>
                    </div>
                    <div class="col-md-4 col-xs-12">
                      <div class="match-right">
                        <div class="fixture-team-name fixture-team-right text-right">
                          <h1>{{match.away_club.full_name | limitTo:20}}</h1>
                          <!-- <p>Spain</p> -->
                        </div>
                        <div class="fixture-team-img">
                          <a href="#"><img class="img-responsive" ng-src="{{match.away_club.picture}}" width="64" height="84" alt=""></a>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
