<section id="club-match-detail">
  <div class="match-today-section world-cup-match">
    <button class="btn-match-edit" ng-click="goEditMatch()">
      <i class="fa fa-pencil"></i>
    </button>
    <div class="breadcrump">
      <div class="pagination-area">
        <ul>
          <li><a href="/club/match">Partidos<i class="fa fa-angle-right" aria-hidden="true"></i></a></li>
          <li class="active"><a href="">{{match.home_club.full_name}} vs {{match.away_club.full_name}}</a></li>
        </ul>
      </div>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="world-cup-match-title gallery">
            <h1>{{match.tournament.name}}
              <a ng-href="{{match.url_detail}}" data-gal="prettyPhoto[gallery2]" ng-if="match.url_detail" target="_blank"><span><i class="fa fa-video-camera" aria-hidden="true"></i></span></a>
            </h1>
            <p><a href="#">{{match.match_date | date:'dd-MM-yyyy'}}</a></p>
          </div>
        </div>
        <div class="col-md-4 col-sm-12 col-xs-12">
          <div class="match-left">
            <div class="today-team-img teamsname">
              <a href="#"><img ng-src="{{match.home_club.picture}}" width="65" height="63" alt=""></a>
            </div>
            <div class="today-team-name teamsname">
              <h1>{{match.home_club.full_name}}</h1>
            </div>
          </div>
        </div>
        <div class="col-md-4 col-sm-12 col-xs-12">
          <div class="team-vs-team">
            <h1>{{match.home_score}}:{{match.away_score}}</h1>
          </div>
        </div>
        <div class="col-md-4 col-sm-12 col-xs-12">
          <div class="match-right">
            <div class="today-team-name teamsname text-right">
              <h1>{{match.away_club.full_name}}</h1>
            </div>
            <div class="today-team-img teamsname">
              <a href="#"><img ng-src="{{match.away_club.picture}}" width="65" height="63" alt=""></a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div>
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <h2>Opciones de Gol</h2>
        </div>
        <div class="col-md-12">
          <div id=timeline class="chance-timeline">
            <div class="demo-card-wrapper">

              <div class="timeline-item" ng-repeat="chance in chanceList track by $index" >
                <div class="timeline-icon">
                  <span>{{chance.chance_minute}}'</span>
                </div>
                <div class="timeline-content" ng-class="{'right':chance.is_home == 0}">
                  <h2 ng-if="chance.is_goal === 1">Gol</h2>
                  <h2 ng-if="chance.is_goal !== 1 && chance.chance_type == 1">Jugada</h2>
                  <h2 ng-if="chance.is_goal !== 1 && chance.chance_type == 2">Balón parado: {{chance.stopped_ball.name}}</h2>
                  <p>
                    <span ng-if="chance.is_goal === 1"><strong>Anotó:</strong> {{chance.scored_player}}</span>
                    <span ng-if="chance.is_goal === 1"><strong>Asistió:</strong> {{chance.assisted_player}}</span>
                    <span ng-if="chance.chance_type == 1"><strong>Jugada</strong></span>
                    <span ng-if="chance.chance_type == 2"><strong>Balón parado:</strong> {{chance.stopped_ball.name}}</span>
                  </p>
                </div>
              </div>

            </div>

          </div>
        </div>

      </div>
    </div>

  </div>
</section>
