<section id="club-match-detail">
  <div class="match-today-section world-cup-match">
    <button class="btn-match-edit" ng-click="goEditMatch()">
      <i class="fa fa-pencil"></i>
    </button>
    <div class="breadcrump">
      <div class="pagination-area">
        <ul>
          <li><a href="/club/match">Partidos<i class="fa fa-angle-right" aria-hidden="true"></i></a></li>
          <li class="active"><a href="">{{match.home_club.full_name}} vs {{match.away_club.full_name}}</a></li>
        </ul>
      </div>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="world-cup-match-title gallery">
            <h1>{{match.tournament.name}}
              <a href="#" ng-click="showVideoContainer()" data-gal="prettyPhoto[gallery2]" ng-if="match.url_detail"><span><i class="fa fa-video-camera" aria-hidden="true"></i></span></a>
            </h1>
            <div class="row">
              <div class="col-md-6 col-md-offset-3" ng-show="showVideo">
                <iframe id="video" width="420" height="315" ng-src="{{videoSource}}" frameborder="0" allowfullscreen></iframe>
              </div>
            </div>
            <p><a href="#">{{match.match_date | date:'dd-MM-yyyy'}}</a></p>
          </div>
        </div>
        <div class="col-md-4 col-sm-12 col-xs-12">
          <div class="match-left">
            <div class="today-team-img teamsname">
              <a href="#"><img ng-src="{{match.home_club.picture}}" width="65" height="63" alt=""></a>
            </div>
            <div class="today-team-name teamsname">
              <h1>{{match.home_club.full_name}}</h1>
            </div>
          </div>
        </div>
        <div class="col-md-4 col-sm-12 col-xs-12">
          <div class="team-vs-team">
            <h1>{{match.home_score}}:{{match.away_score}}</h1>
          </div>
        </div>
        <div class="col-md-4 col-sm-12 col-xs-12">
          <div class="match-right">
            <div class="today-team-name teamsname text-right">
              <h1>{{match.away_club.full_name}}</h1>
            </div>
            <div class="today-team-img teamsname">
              <a href="#"><img ng-src="{{match.away_club.picture}}" width="65" height="63" alt=""></a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="super-cup-league-section">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="tab-area">
            <ul class="nav nav-tabs" role="tablist">
              <li role="presentation" class="active"><a href="#timeline-tab" aria-controls="messages" role="tab" data-toggle="tab" aria-expanded="false">Timeline</a></li>
              <li role="presentation" class=""><a href="#report-tab" aria-controls="home" role="tab" data-toggle="tab" aria-expanded="true">Reporte</a></li>
              <!-- <li role="presentation" class=""><a href="#data-tab" aria-controls="profile" role="tab" data-toggle="tab" aria-expanded="false">Datos</a></li> -->

            </ul>
            <div class="tab-content">
              <div role="tabpanel" class="tab-pane active" id="timeline-tab">
                <div class="fixture-title">
                  <h1>Timeline</h1>
                </div>
                <div class="col-md-12">
                  <div id=timeline class="chance-timeline" ng-show="subOption == 3">
                    <div class="demo-card-wrapper">

                      <div class="timeline-item" ng-repeat="chance in chanceList track by $index" >
                        <div class="timeline-icon">
                          <span>{{chance.chance_minute}}'</span>
                        </div>
                        <div class="timeline-content" ng-class="{'right':chance.is_home == 0}">
                          <h2 ng-if="chance.is_goal === 1">Gol <span class="detail-chance" ng-click="goDetailChance(chance)"><i class="fa fa-eye"></i></span></h2>
                          <h2 ng-if="chance.is_goal !== 1 && chance.chance_type == 1">Jugada <span class="detail-chance" ng-click="goDetailChance(chance)"><i class="fa fa-eye"></i></span></h2>
                          <h2 ng-if="chance.is_goal !== 1 && chance.chance_type == 2">Balón parado: {{chance.stopped_ball.name}} <span class="detail-chance" ng-click="goDetailChance(chance)"><i class="fa fa-eye"></i></span></h2>
                          <p>
                            <span ng-if="chance.is_goal === 1"><strong>Anotó:</strong> {{chance.scored_player}}</span>
                            <span ng-if="chance.is_goal === 1"><strong>Asistió:</strong> {{chance.assisted_player}}</span>
                            <div ng-if="chance.chance_type == 1 && chance.is_goal !== 1">
                              <span><strong>Tipo de Inicio:</strong> {{chance.start_type.name}}</span>
                              <span><strong>Zona de Campo:</strong> {{chance.field_zone.name}}</span>
                            </div>
                            <div ng-if="chance.chance_type == 1">
                              <span><strong>Acción previa:</strong> {{chance.previous_action.name}}</span>
                              <span><strong>Finalización:</strong> {{chance.completion_action.name}}</span>
                            </div>
                            <span ng-if="chance.chance_type == 2"><strong>Balón parado:</strong> {{chance.stopped_ball.name}}</span>
                          </p>
                        </div>
                      </div>

                    </div>

                  </div>

                  <div ng-show="subOption === 4">
                    <div class="crud-header">
                      <button type="button" class="btn btn-default btn-sm btn-back" ng-click="goBack()">← Atrás</button>
                      <h3>Detalle de Ocasión de Gol</h3>
                    </div>
                    <div class="chance-detail">
                      <h1 class="text-center" ng-if="chance.is_goal == 1">Gol</h1>
                      <div class="form-group-match">
                        <div class="row">
                          <div class="col-md-8 col-md-offset-2">
                            <div class="title-area">
                              <h4>Información General</h4>
                            </div>
                            <div class="content-area">
                              <div class="row">
                                <p ng-if="chance.is_goal === 1"><strong>Anotó:</strong> {{chance.scored_player || '--'}}</p>
                                <p ng-if="chance.is_home == 1"> <strong>Equipo:</strong> Local</p>
                                <p ng-if="chance.is_home != 1"> <strong>Equipo:</strong> Visitante</p>
                                <p><strong>Minuto: </strong>{{chance.chance_minute}}'</p>
                                <p ng-if="chance.chance_type == 1"><strong>Tipo de Ocasión:</strong> Jugada</p>
                                <p ng-if="chance.chance_type == 2"><strong>Tipo de Ocasión:</strong> Balón Parado - {{chance.stopped_ball.name}}</p>
                              </div>
                            </div>
                          </div>
                        </div>

                        <div ng-show="chance.chance_type == 1">

                          <div class="row">
                            <div class="col-md-8 col-md-offset-2">
                              <div class="title-area">
                                <h4>Inicio de la Posesión</h4>
                              </div>
                              <div class="content-area">
                                <div class="row">
                                  <p><span ng-click="showInfo(chance.start_type)" ng-show="chance.start_type"><i class="fa fa-info-circle fa-hp-info"></i></span><strong>Tipo de Inicio:</strong> {{chance.start_type.name || '--'}}</p>
                                  <p><span ng-click="showInfo(chance.field_zone)" ng-show="chance.field_zone"><i class="fa fa-info-circle fa-hp-info"></i></span><strong>Zona del Campo:</strong> {{chance.field_zone.name || '--'}}</p>
                                  <p><span ng-click="showInfo(chance.initial_penetration)" ng-show="chance.initial_penetration"><i class="fa fa-info-circle fa-hp-info"></i></span><strong>Penetración Inicial:</strong> {{chance.initial_penetration.name || '--'}}</p>
                                  <p><span ng-click="showInfo(chance.player_position)" ng-show="chance.player_position"><i class="fa fa-info-circle fa-hp-info"></i></span><strong>Posición de Jugador:</strong> {{chance.player_position.name || '--'}}</p>
                                </div>
                              </div>
                            </div>
                          </div>

                          <div class="row">
                            <div class="col-md-8 col-md-offset-2">
                              <div class="title-area">
                                <h4>Situación Inicial del Rival</h4>
                              </div>
                              <div class="content-area">
                                <div class="row">
                                  <p><span ng-click="showInfo(chance.field_area)" ng-show="chance.field_area"><i class="fa fa-info-circle fa-hp-info"></i></span><strong>Posición de Rival:</strong> {{chance.field_area.name || '--'}}</p>
                                  <p><span ng-click="showInfo(chance.invation_level)" ng-show="chance.invation_level"><i class="fa fa-info-circle fa-hp-info"></i></span><strong>Nivel de Invasión:</strong> {{chance.invation_level.name || '--'}}</p>
                                  <p><span ng-click="showInfo(chance.numerical_balance)" ng-show="chance.numerical_balance"><i class="fa fa-info-circle fa-hp-info"></i></span><strong>Balance Numérico:</strong> {{chance.numerical_balance.name || '--'}}</p>
                                </div>
                              </div>
                            </div>
                          </div>

                          <div class="row">
                            <div class="col-md-8 col-md-offset-2">
                              <div class="title-area">
                                <h4>Desarrollo de la Posesión</h4>
                              </div>
                              <div class="content-area">
                                <div class="row">
                                  <p><span ng-click="showInfo(chance.possession_pass)" ng-show="chance.possession_pass"><i class="fa fa-info-circle fa-hp-info"></i></span><strong>Pases por Posesión:</strong> {{chance.possession_pass.name || '--'}}</p>
                                  <p><span ng-click="showInfo(chance.penetrating_pass)" ng-show="chance.penetrating_pass"><i class="fa fa-info-circle fa-hp-info"></i></span><strong>Pases Penetrantes:</strong> {{chance.penetrating_pass.name || '--'}}</p>
                                  <p><span ng-click="showInfo(chance.progression_type)" ng-show="chance.progression_type"><i class="fa fa-info-circle fa-hp-info"></i></span><strong>Tipo de Progresión:</strong> {{chance.progression_type.name || '--'}}</p>
                                </div>
                              </div>
                            </div>
                          </div>

                          <div class="row">
                            <div class="col-md-8 col-md-offset-2">
                              <div class="title-area">
                                <h4>Final de la Posesión</h4>
                              </div>
                              <div class="content-area">
                                <div class="row">
                                  <p><span ng-click="showInfo(chance.pentagon_completion)" ng-show="chance.pentagon_completion"><i class="fa fa-info-circle fa-hp-info"></i></span><strong>Pentágono de Finalización:</strong> {{chance.pentagon_completion.name || '--'}}</p>
                                  <p><span ng-click="showInfo(chance.previous_action)" ng-show="chance.previous_action"><i class="fa fa-info-circle fa-hp-info"></i></span><strong>Acción Previa:</strong> {{chance.previous_action.name || '--'}}</p>
                                  <p><span ng-click="showInfo(chance.completion_action)" ng-show="chance.completion_action"><i class="fa fa-info-circle fa-hp-info"></i></span><strong>Finalización de la Jugada:</strong> {{chance.completion_action.name || '--'}}</p>
                                  <p><span ng-click="showInfo(chance.penultimate_field_zone)" ng-show="chance.penultimate_field_zone"><i class="fa fa-info-circle fa-hp-info"></i></span><strong>Penúltimo Sub-espacio Rival:</strong> {{chance.penultimate_field_zone.name || '--'}}</p>
                                  <p><span ng-click="showInfo(chance.last_field_zone)" ng-show="chance.last_field_zone"><i class="fa fa-info-circle fa-hp-info"></i></span><strong>Último Sub-espacio Rival:</strong> {{chance.last_field_zone.name || '--'}}</p>
                                </div>
                              </div>
                            </div>
                          </div>

                        </div>

                      </div>
                    </div>
                  </div>
                </div>
              </div>

              <div role="tabpanel" class="tab-pane" id="report-tab">
                <div class="fixture-title">
                  <h1>Reporte</h1>
                </div>
                <div class="col-md-12">
                  <!-- <div class="row filter-row">
                    <div class="col-md-10 col-md-offset-1">
                      <uib-alert type="{{filterAlert.type}}" close="cleanAlert()" ng-show="filterAlert">{{filterAlert.text}}</uib-alert>
                    </div>
                    <form class="form-inline" role="form" ng-submit="filterMatch()">
                      <div class="form-group">
                        <label for="tournament">Torneo</label>
                        <ui-select ng-model="filter.tournament_id" class="form-control form-control-select" on-select="selectTournament(filter.tournament_id,true)">
                          <ui-select-match>
                            <span ng-bind="$select.selected.name"></span>
                          </ui-select-match>
                          <ui-select-choices repeat="tournamentItem.id as tournamentItem in (tournamentList | filter: $select.search) track by tournamentItem.id">
                              <span ng-bind="tournamentItem.name"></span>
                            </ui-select-choices>
                        </ui-select>
                      </div>
                      <div class="filter-row-2">
                        <div class="form-group">
                          <label for="local">Equipo</label>
                          <ui-select ng-model="filter.first_club_id" class="form-control form-control-select">
                            <ui-select-match>
                              <span ng-bind="$select.selected.full_name"></span>
                            </ui-select-match>
                            <ui-select-choices repeat="homeClub.id as homeClub in (rivalList | filter: $select.search) track by homeClub.id" >
                              <span ng-bind="homeClub.full_name"></span>
                            </ui-select-choices>
                          </ui-select>
                        </div>
                        <div class="form-group">
                          <label>Estado de Equipo</label>
                          <select class="form-control" ng-model="filter.state_first_club_id">
                            <option value="">Ambas</option>
                            <option value="1">Local</option>
                            <option value="2">Visitante</option>
                          </select>
                        </div>
                        <div class="form-group">
                          <label for="local">Rival</label>
                          <ui-select ng-model="filter.second_club_id" class="form-control form-control-select">
                            <ui-select-match>
                              <span ng-bind="$select.selected.full_name"></span>
                            </ui-select-match>
                            <ui-select-choices repeat="rivalClub.id as rivalClub in (rivalList | filter: $select.search) track by rivalClub.id" >
                              <span ng-bind="rivalClub.full_name"></span>
                            </ui-select-choices>
                          </ui-select>
                        </div>
                        <button type="submit" class="icon-search">
                          <i class="fa fa-search"></i>
                        </button>
                        <button type="button" class="icon-clear" ng-click="clearFilter()">
                          <i class="fa fa-times"></i>
                        </button>
                      </div>
                    </form>
                  </div> -->


                  <div class="row">
                    <div class="col-md-12">
                      <div class="report-panel-container">
                        <div class="row">
                          <div class="report-container" ng-class="report.chart.data.labels.length > 3 ? 'col-md-10 col-md-offset-1' : 'col-md-6'" ng-repeat="report in lastTournamentGeneralReport track by $index">
                            <h2 class="report-name">{{report.name}}</h2>
                            <canvas ng-attr-id="{{report.id}}"></canvas>
                          </div>
                        </div>


                        <div class="row">
                          <div class="col-md-10 col-md-offset-1 col-title">
                            <div class="fixture-title">
                              <h1 class="subreport">Inicio de la Posesión</h1>
                            </div>
                          </div>
                        </div>
                        <div class="row">
                          <div class="col-md-10 col-md-offset-1">
                            <div class="report-panel-container sub-report">
                              <div class="row">
                                <div class="report-container" ng-class="subReport.chart.data.labels.length > 3 ? 'col-md-10 col-md-offset-1' : 'col-md-6'" ng-repeat="subReport in possessionStartReport track by $index">
                                  <h2 class="report-name">{{subReport.name}}</h2>
                                  <canvas ng-attr-id="{{subReport.id}}"></canvas>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>

                        <div class="row">
                          <div class="col-md-10 col-md-offset-1 col-title">
                            <div class="fixture-title">
                              <h1 class="subreport">Situación Inicial del Rival</h1>
                            </div>
                          </div>
                        </div>
                        <div class="row">
                          <div class="col-md-10 col-md-offset-1">
                            <div class="report-panel-container sub-report">
                              <div class="row">
                                <div class="report-container" ng-class="subReport.chart.data.labels.length > 3 ? 'col-md-10 col-md-offset-1' : 'col-md-6'" ng-repeat="subReport in initialSituationReport track by $index">
                                  <h2 class="report-name">{{subReport.name}}</h2>
                                  <canvas ng-attr-id="{{subReport.id}}"></canvas>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>

                        <div class="row">
                          <div class="col-md-10 col-md-offset-1 col-title">
                            <div class="fixture-title">
                              <h1 class="subreport">Desarrollo de la posesión</h1>
                            </div>
                          </div>
                        </div>
                        <div class="row">
                          <div class="col-md-10 col-md-offset-1">
                            <div class="report-panel-container sub-report">
                              <div class="row">
                                <div class="report-container" ng-class="subReport.chart.data.labels.length > 3 ? 'col-md-10 col-md-offset-1' : 'col-md-6'" ng-repeat="subReport in developmentOfPossessionReport track by $index">
                                  <h2 class="report-name">{{subReport.name}}</h2>
                                  <canvas ng-attr-id="{{subReport.id}}"></canvas>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>

                        <div class="row">
                          <div class="col-md-10 col-md-offset-1 col-title">
                            <div class="fixture-title">
                              <h1 class="subreport">Final de la posesión</h1>
                            </div>
                          </div>
                        </div>
                        <div class="row">
                          <div class="col-md-10 col-md-offset-1">
                            <div class="report-panel-container sub-report">
                              <div class="row">
                                <div class="report-container" ng-class="subReport.chart.data.labels.length > 3 ? 'col-md-10 col-md-offset-1' : 'col-md-6'" ng-repeat="subReport in endOfPossessionReport track by $index">
                                  <h2 class="report-name">{{subReport.name}}</h2>
                                  <canvas ng-attr-id="{{subReport.id}}"></canvas>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>

                        <div class="row">
                          <div class="col-md-10 col-md-offset-1 col-title">
                            <div class="fixture-title">
                              <h1 class="subreport">Balón Parado</h1>
                            </div>
                          </div>
                        </div>
                        <div class="row">
                          <div class="col-md-10 col-md-offset-1">
                            <div class="report-panel-container sub-report">
                              <div class="row">
                                <div class="report-container" ng-class="subReport.chart.data.labels.length > 3 ? 'col-md-10 col-md-offset-1' : 'col-md-6'" ng-repeat="subReport in stoppedBallReport track by $index">
                                  <h2 class="report-name">{{subReport.name}}</h2>
                                  <canvas ng-attr-id="{{subReport.id}}"></canvas>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>



                      </div>
                    </div>
                  </div>


                </div>
              </div>
              <!-- <div role="tabpanel" class="tab-pane" id="data-tab">
                <div class="fixture-title">
                  <h1>Datos</h1>
                </div>
              </div> -->


            </div>
          </div>
        </div>


        <!-- <div class="col-md-12">
          <h2>Opciones de Gol</h2>
        </div> -->


      </div>
    </div>

  </div>
</section>
