<section id="club-match-list" class="super-cup-league-section">
  <div class="container">
    <div class="tab-content">
      <div class="row filter-row">
        <div class="col-md-10 col-md-offset-1">
          <uib-alert type="{{filterAlert.type}}" close="cleanAlert()" ng-show="filterAlert">{{filterAlert.text}}</uib-alert>
        </div>
        <form class="form-inline" role="form" ng-submit="filterMatch()">
          <div class="form-group">
            <label for="tournament">Torneo</label>
            <ui-select ng-model="filter.tournament_id" class="form-control form-control-select" on-select="selectTournament(filter.tournament_id,true)">
              <ui-select-match>
                <span ng-bind="$select.selected.name"></span>
              </ui-select-match>
              <ui-select-choices repeat="tournamentItem.id as tournamentItem in (tournamentList | filter: $select.search) track by tournamentItem.id">
                  <span ng-bind="tournamentItem.name"></span>
                </ui-select-choices>
            </ui-select>
          </div>
          <div class="form-group">
            <label for="local">Local</label>
            <ui-select ng-model="filter.home_club_id" class="form-control form-control-select">
              <ui-select-match>
                <span ng-bind="$select.selected.full_name"></span>
              </ui-select-match>
              <ui-select-choices repeat="homeClub.id as homeClub in (rivalList | filter: {id:'!filter.away_club_id'}) track by homeClub.id" >
                <span ng-bind="homeClub.full_name"></span>
              </ui-select-choices>
            </ui-select>
          </div>
          <div class="form-group">
            <label for="local">Visitante</label>
            <ui-select ng-model="filter.away_club_id" class="form-control form-control-select">
              <ui-select-match>
                <span ng-bind="$select.selected.full_name"></span>
              </ui-select-match>
              <ui-select-choices repeat="homeClub.id as homeClub in (rivalList | filter: {id:'!filter.away_club_id'}) track by homeClub.id" >
                <span ng-bind="homeClub.full_name"></span>
              </ui-select-choices>
            </ui-select>
          </div>
          <button type="submit" class="icon-search">
            <i class="fa fa-search"></i>
          </button>
          <button type="button" class="icon-clear" ng-click="clearFilter()">
            <i class="fa fa-times"></i>
          </button>
        </form>
      </div>
      <div class="row">
        <div class="col-md-10 col-title">
          <div class="fixture-title">
            <h1>PARTIDOS</h1>
          </div>
        </div>
        <div class="col-md-2 col-btn">
          <button class="btn btn-black btn-add" ng-click="addMatch()">Agregar</button>
        </div>
      </div>
      <div class="tab-pane active">
        <div class="row" ng-repeat="match in matchList track by $index" ng-click="goMatchDetail(match)">
          <div class="white-match">
            <div class="col-md-4 col-xs-12">
              <div class="match-left">
                <div class="fixture-team-img">
                  <a href="#"><img class="img-responsive" ng-src="{{match.home_club.picture}}" width="64" height="84" alt=""></a>
                </div>
                <div class="fixture-team-name fixture-team-left">
                  <h1>{{match.home_club.full_name | limitTo:20}}</h1>
                  <!-- <p>France</p> -->
                </div>
              </div>
            </div>
            <div class="col-md-4 col-xs-12">
              <div class="fixture-team-date">
                <h1 class="fix-res-sp">{{match.home_score}}:{{match.away_score}}</h1>
                <p>{{match.match_date | date:'dd-MM-yyyy'}}</p>
              </div>
            </div>
            <div class="col-md-4 col-xs-12">
              <div class="match-right">
                <div class="fixture-team-name fixture-team-right text-right">
                  <h1>{{match.away_club.full_name | limitTo:20}}</h1>
                  <!-- <p>Spain</p> -->
                </div>
                <div class="fixture-team-img">
                  <a href="#"><img class="img-responsive" ng-src="{{match.away_club.picture}}" width="64" height="84" alt=""></a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
