*{
  -ms-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: 0;
}

html, body{
  height: 100%;
}

/*body {
  padding-top: 20px;
}*/

/*.app-container {
  min-height: 100%;
}*/

/*section {
  padding: 20px 0;
}*/

.full-height {
  height: 100%;
}

ul {
  list-style-type: none;
}

h2 {
  margin-top: 0 !important;
  text-align: center;
}

.btn-hp {
  background: #fec821;
  color: #24252f;
  text-transform: uppercase;
  font-weight: 700;
  padding: 10px;
  text-align: center;
}

.btn-back {
  color: #ffffff;
  background-color: #24252f;
  border: 1px solid #24252f;
  border-radius: 3px;
  padding: 5px 14px;
  cursor: pointer;
}

.btn-back:hover {
  color: #ffffff;
  background-color: #24252f;
  border-color: #24252f;
}

.btn-yellow {
  width: 100%;
  padding: 15px;
  background-color: #fec722;
  font-weight: 700;
  font-size: 14px;
  text-transform: uppercase;
  border: none;
  box-shadow: none;
  line-height: 1;
  outline: none;
  border-radius: 3px;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}

.btn-calendar-picker {
  padding: 10px 14px;
}

.ui-select-toggle {
  background-color: #ffffff;
}

.ui-select-search {
  width: 100% !important;
}

.ui-select-toggle:hover,
.ui-select-toggle:focus {
  background-color: #ffffff;
  color: #34495e;
}

.ui-select-match-text {
  display: inline-block;
  overflow: hidden;
  width: 100%;
  text-overflow: ellipsis;
  padding-right: 10px;
}

.modal-content .btn-success {
  padding: 15px;
  background-color: #fec722;
  font-weight: 700;
  font-size: 14px;
  text-transform: uppercase;
  border: none;
  box-shadow: none;
  line-height: 1;
  outline: none;
  border-radius: 3px;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}

.modal-content .btn-danger {
  padding: 15px;
  background-color: #24252f;
  font-weight: 700;
  font-size: 14px;
  text-transform: uppercase;
  border: none;
  box-shadow: none;
  line-height: 1;
  outline: none;
  border-radius: 3px;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}

.file-upload input.upload {
  position: absolute;
  top: 0;
  right: 0;
  margin: 0;
  padding: 0;
  font-size: 20px;
  cursor: pointer;
  opacity: 0;
  filter: alpha(opacity=0);
}

#admin-club-detail canvas {
  background-color: #f3f3f3;
  -webkit-box-shadow: 3px 3px 3px 0 #e3e3e3;
  -moz-box-shadow: 3px 3px 3px 0 #e3e3e3;
  box-shadow: 3px 3px 3px 0 #e3e3e3;
  border: 1px solid #c3c3c3;
  /*height: 200px;*/
  margin: 0 auto;
  display: block;
}

.file-upload {
  position: relative;
  overflow: hidden;
  width: 90px;
  padding: 8px 15px;
  background-color: #fec722;
  font-weight: 700;
  font-size: 12px;
  border: none;
  box-shadow: none;
  line-height: 1;
  outline: none;
  border-radius: 3px;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
  margin-top: 20px;
}

.drop-zone {
  height: 120px;
  padding: 18% 0;
}

.file-upload input.upload {
  position: absolute;
  top: 0;
  right: 0;
  margin: 0;
  padding: 0;
  font-size: 20px;
  cursor: pointer;
  opacity: 0;
  filter: alpha(opacity=0);
}
/* ==================================================
   Spinner
================================================== */

.spinner {
  margin: 5px auto;
  width: 70px;
  text-align: center;
}

.spinner > div {
  width: 14px;
  height: 14px;
  background-color: #f39c12;
  border-radius: 100%;
  display: inline-block;
  -webkit-animation: sk-bouncedelay 1.4s infinite ease-in-out both;
  animation: sk-bouncedelay 1.4s infinite ease-in-out both;
}

.spinner .bounce1 {
  -webkit-animation-delay: -0.32s;
  animation-delay: -0.32s;
}

.spinner .bounce2 {
  -webkit-animation-delay: -0.16s;
  animation-delay: -0.16s;
}

@-webkit-keyframes sk-bouncedelay {
  0%, 80%, 100% { -webkit-transform: scale(0) }
  40% { -webkit-transform: scale(1.0) }
}

@keyframes sk-bouncedelay {
  0%, 80%, 100% {
    -webkit-transform: scale(0);
    transform: scale(0);
  } 40% {
    -webkit-transform: scale(1.0);
    transform: scale(1.0);
  }
}

/* ==================================================
   Navbar
================================================== */
/*.navbar-user-settings .logout {
  padding: 6px 12px;
  font-size: 18px;
}

.navbar {
  margin-bottom: 0px !important;
}*/

.navbar-default {
  border: none;
  border-bottom: 1px solid #e7e7e7 !important;
}

.attr-nav a {
  color: #6f6f6f;
  padding: 8px 15px;
  position: relative;
}

.fa-sign-out {
  float: left;
  font-size: 16px;
  height: 43px;
  width: 43px;
  border: 2px solid #f1f1f1;
  border-radius: 5px;
  text-align: right;
  padding: 10px;
}

/* ==================================================
   Alert
================================================== */
.alert {
  color: #ffffff !important;
  font-size: 15px;
  font-weight: bold;
  padding: 5px 10px !important;
}

.alert .close {
  top: 0 !important;
  right: 0 !important;
  opacity: 1 !important;
}

.alert-success {
  background-color: #2ecc71 !important;
}

.alert-info {
  background-color: #3498db !important;
}

.alert-warning {
  background-color: #f1c40f !important;
}

.alert-danger {
  background-color: #e74c3c !important;
}

/* ==================================================
   Roles
================================================== */
#roles .roles-list {
  text-align: center;
  font-size: 24px;
}

#roles .roles-list li {
  cursor: pointer;
}

/* ==================================================
   CRUD
================================================== */
.crud-table {
  margin-top: 20px;
}

.crud-table tbody > tr > td {
  vertical-align: middle;
}

.crud-table .crud-options,
.crud-table .crud-option-add {
  text-align: right;
}

.crud-table .crud-options button {
  padding: 4px 9px;
}

.crud-table .crud-option-add button {
  padding: 6px 16px;
}

.crud-table .btn-danger {
  background-color: #6f6f6f;
  border-color: #6f6f6f;
}

.crud-table .btn-warning {
  background-color: #24252f;
  border-color: #24252f;
}

.crud-table .btn-info {
  background-color: #fec722;
  border-color: #24252f;
}

.crud-header {
  position: relative;
}

.crud-header .btn-back {
  position: absolute;
  top: 0;
  left: 0;
}

.crud-header h2 {
  position: initial !important;
}

form button.btn-yellow {
  max-width: 300px;
}

/* ==================================================
   Login
================================================== */
.page-area-section-error {
  background: url(../img/bg-1.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.error-404 {
  margin: 160px 0 100px;
  padding: 20px 60px 60px;
}

.login-container {
  background-color: #FFFFFF;
}

.login-container img {
  width: 100%;
  max-width: 300px;
}

.login-container .login-form {
  margin-top: 40px;
}

/* ==================================================
   Admin - Home
================================================== */
#admin-home {

}

#admin-home .container {
  margin-top: 40px;
}

#admin-home h2 {
  border-bottom: 3px solid #fec722;
  margin-bottom: 28px;
}

#admin-home .crud-btn {
  display: block;
  text-align: center;
  margin-bottom: 20px;
}

#admin-home .crud-btn > a {
  border: 1px solid #c4c4c4;
  background-color: transparent;
  border-radius: 0;
  box-shadow: none;
  outline: none;
  color: #24252f;
  text-align: center;
  font-size: 14px;
  width: 100%;
  padding: 12px;
  display: block;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}

#admin-home .crud-btn > a:hover {
  background: #fec722;
  color: #24252f;
  font-weight: 700;
}

#admin-home .club-list {
  margin-top: 20px;
}

#admin-home .club-list .club-items {
  background-color: transparent;
  border: 1px solid #c4c4c4;
  cursor: pointer;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}

#admin-home .club-list .club-items:hover {
  background: #fec722;
}

#admin-home .club-list .club-items:hover p {
  color: #24252f;
  font-weight: 700;
}

#admin-home .club-list .club-items > .club-logo {
  width: 50px;
  height: 50px;
  margin: 4px 15px 0px 5px;
}

#admin-home .club-list .club-items > .club-logo > img {
  width: 50px;
  height: 50px;
  border: 2px solid #c4c4c4;
}

#admin-home .club-list .club-items > p {
  font-size: 16px;
  top: 18px;
  color: #24252f;
}

/* ==================================================
   Admin - Club Detail
================================================== */
#admin-club-detail {

}

#admin-club-detail .page-title-section {
  background-image: url(../img/bg-1.jpg);
  background-position: center;
  margin-bottom: 40px;
}

#admin-club-detail h1 {
  font-size: 36px;
  color: #fff;
  font-weight: 700;
  margin: 0;
  padding: 0;
}

#admin-club-detail .btn-club-submit {
  padding: 13px;
}

#admin-club-detail h2 {
  margin-top: 40px !important;
  border-bottom: 3px solid #fec722;
  margin-bottom: 28px;
}

#admin-club-detail .match-left .today-team-img {
  margin-right: 30px;
  width: 105px;
  height: 105px;
}

.image-upload {
  text-align: center;
  margin-bottom: 60px;
}

.image-upload p {
  font-size: 11px;
}

/* ==================================================
   Admin - CRUD Field Area
================================================== */
#admin-crud-field-area {

}

#admin-crud-field-area .container {
  margin-top: 40px;
}

#admin-crud-field-area h2 {
  border-bottom: 3px solid #fec722;
  margin-bottom: 28px;
}

/* ==================================================
   Admin - CRUD Start Type
================================================== */
#admin-crud-start-type {

}

#admin-crud-start-type .container {
  margin-top: 40px;
}

#admin-crud-start-type h2 {
  border-bottom: 3px solid #fec722;
  margin-bottom: 28px;
}

/* ==================================================
   Admin - CRUD Initial Penetration
================================================== */
#admin-crud-initial-penetration {

}

#admin-crud-initial-penetration .container {
  margin-top: 40px;
}

#admin-crud-initial-penetration h2 {
  border-bottom: 3px solid #fec722;
  margin-bottom: 28px;
}

/* ==================================================
   Admin - CRUD Player Position
================================================== */
#admin-crud-player-position {

}

#admin-crud-player-position .container {
  margin-top: 40px;
}

#admin-crud-player-position h2 {
  border-bottom: 3px solid #fec722;
  margin-bottom: 28px;
}

/* ==================================================
   Admin - CRUD Field Zone
================================================== */
#admin-crud-field-zone {

}

#admin-crud-field-zone .container {
  margin-top: 40px;
}

#admin-crud-field-zone h2 {
  border-bottom: 3px solid #fec722;
  margin-bottom: 28px;
}

/* ==================================================
   Admin - CRUD Rival Level Invation
================================================== */
#admin-crud-invation-level {

}

#admin-crud-invation-level .container {
  margin-top: 40px;
}

#admin-crud-invation-level h2 {
  border-bottom: 3px solid #fec722;
  margin-bottom: 28px;
}

/* ==================================================
   Admin - CRUD Rival Numerical Balance
================================================== */
#admin-crud-numerical-balance {

}

#admin-crud-numerical-balance .container {
  margin-top: 40px;
}

#admin-crud-numerical-balance h2 {
  border-bottom: 3px solid #fec722;
  margin-bottom: 28px;
}

/* ==================================================
   Admin - CRUD Pass Posession
================================================== */
#admin-crud-pass-possession {

}

#admin-crud-pass-possession .container {
  margin-top: 40px;
}

#admin-crud-pass-possession h2 {
  border-bottom: 3px solid #fec722;
  margin-bottom: 28px;
}

/* ==================================================
   Admin - CRUD Penetration Passess Type
================================================== */
#admin-crud-penetrating-passes {

}

#admin-crud-penetrating-passes .container {
  margin-top: 40px;
}

#admin-crud-penetrating-passes h2 {
  border-bottom: 3px solid #fec722;
  margin-bottom: 28px;
}

/* ==================================================
   Admin - CRUD Progression Type
================================================== */
#admin-crud-progression-type {

}

#admin-crud-progression-type .container {
  margin-top: 40px;
}

#admin-crud-progression-type h2 {
  border-bottom: 3px solid #fec722;
  margin-bottom: 28px;
}

/* ==================================================
   Admin - CRUD Finalization Pentagon
================================================== */
#admin-crud-pentagon-completion {

}

#admin-crud-pentagon-completion .container {
  margin-top: 40px;
}

#admin-crud-pentagon-completion h2 {
  border-bottom: 3px solid #fec722;
  margin-bottom: 28px;
}

/* ==================================================
   Admin - CRUD Previous Action
================================================== */
#admin-crud-previous-action {

}

#admin-crud-previous-action .container {
  margin-top: 40px;
}

#admin-crud-previous-action h2 {
  border-bottom: 3px solid #fec722;
  margin-bottom: 28px;
}

/* ==================================================
   Admin - CRUD Ending Possession
================================================== */
#admin-crud-completion-action {

}

#admin-crud-completion-action .container {
  margin-top: 40px;
}

#admin-crud-completion-action h2 {
  border-bottom: 3px solid #fec722;
  margin-bottom: 28px;
}

/* ==================================================
   Admin - CRUD Ending Possession
================================================== */
#admin-crud-stopped-ball {

}

#admin-crud-stopped-ball .container {
  margin-top: 40px;
}

#admin-crud-stopped-ball h2 {
  border-bottom: 3px solid #fec722;
  margin-bottom: 28px;
}

/* ==================================================
   Club - Home
================================================== */
#club-home {

}

#club-home .container {
  margin-top: 40px;
  margin-bottom: 40px;
}

#club-home .last-matches .see-all,
#club-home .rivals .see-all {
  width: 100%;
  height: 40px;
  background: #fec722;
  text-align: center;
}

#club-home .last-matches .see-all > a,
#club-home .rivals .see-all > a {
  font-size: 14px;
  font-weight: 700;
  color: #24252f;
  line-height: 44px;
}

#club-home .last-matches .arrow-style > a,
#club-home .rivals .arrow-style > a {
  font-size: 14px;
  font-weight: 700;
  color: #24252f;
}

#club-home .last-matches .result-item > img,
#club-home .rivals .result-item > img {
  border: 2px solid #c4c4c4;
}

#club-home .last-matches .recent-items > a > h4,
#club-home .rivals .recent-items > a > h4 {
  padding: 12px 0;
}

#club-home .rivals .club-items img {
  max-width: 44px;
}

#club-home .rivals .club-items {
  padding: 10px 30px;
}

.fix-res-sp {
  font-size: 25px!important;
}

/* ==================================================
   Club - CRUD Tournament
================================================== */
#club-crud-tournament {

}

#club-crud-tournament .container {
  margin-top: 40px;
  margin-bottom: 40px;
}

#club-crud-tournament .add-rival-table img {
  width: 50px;
  height: 50px;
  border: 2px solid #c4c4c4;
  border-radius: 100%;
}


/* ==================================================
   Club - CRUD Rival
================================================== */
#club-crud-rival {

}

#club-crud-rival .container {
  margin-top: 40px;
  margin-bottom: 40px;
}

/* ==================================================
   Club - Rival
================================================== */
#club-rival {

}

#club-rival .container {
  margin-top: 40px;
  margin-bottom: 40px;
}

#club-rival h2 {
  border-bottom: 3px solid #fec722;
  margin-bottom: 28px;
}

#club-rival .club-list {
  margin-top: 20px;
}

#club-rival .club-list .club-items {
  background-color: transparent;
  border: 1px solid #c4c4c4;
  cursor: pointer;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}

#club-rival .club-list .club-items:hover {
  background: #fec722;
}

#club-rival .club-list .club-items:hover p {
  color: #24252f;
  font-weight: 700;
}

#club-rival .club-list .club-items > .club-logo {
  width: 50px;
  height: 50px;
  margin: 4px 15px 0px 5px;
}

#club-rival .club-list .club-items > .club-logo > img {
  width: 50px;
  height: 50px;
  border: 2px solid #c4c4c4;
}

#club-rival .club-list .club-items > p {
  font-size: 16px;
  top: 18px;
  color: #24252f;
}
