<section id="admin-crud-field-zone">
  <div class="container">
    <div class="row">
      <div class="col-md-8 col-md-offset-2">

        <div ng-show="subOption === 1">
          <h2>Zonas de Campo</h2>
          <uib-alert type="{{fieldZoneListAlert.type}}" close="cleanAlertFieldZoneList()" ng-show="fieldZoneListAlert">{{fieldZoneListAlert.text}}</uib-alert>
          <ng-include src="'modules/shared/views/spinner.tpl.html'" ng-show="fieldZoneListLoading"></ng-include>
          <table class="table crud-table">
            <thead>
              <tr>
                <th>Nombre</th>
                <th class="crud-option-add">
                  <button type="button" class="btn btn-info btn-add" ng-click="goAddFieldZone()">
                    <i class="fa fa-plus"></i>
                  </button>
                </th>
              </tr>
            </thead>
            <tbody ng-repeat="fieldZone in fieldZoneList track by fieldZone.id">
              <tr>
                <td>{{fieldZone.name}}</td>
                <td class="crud-options">
                  <button type="button" class="btn btn-warning" ng-click="goEditFieldZone(fieldZone)">
                    <i class="fa fa fa-pencil"></i>
                  </button>
                  <button type="button" class="btn btn-danger" ng-click="goRemoveFieldZone(fieldZone)">
                    <i class="fa fa fa-trash-o"></i>
                  </button>
                </td>
              </tr>
            </tbody>
          </table>
        </div>

        <div ng-show="subOption === 2 || subOption === 3">
          <div class="crud-header">
            <button type="button" class="btn btn-default btn-sm btn-back" ng-click="goBack()">← Atrás</button>
            <h2>{{crudOption}} Zona de Campo</h2>
            <uib-alert type="{{fieldZoneCrudAlert.type}}" close="cleanAlertFieldZoneCrud()" ng-show="fieldZoneCrudAlert">{{fieldZoneCrudAlert.text}}</uib-alert>
            <form class="form-horizontal" ng-submit="fieldZoneSubmit()">
              <div class="form-group">
                <div class="col-md-4 col-md-offset-3">
                  <div ng-repeat="clubImage in uploader.queue">
                    <div ng-show="uploader.isHTML5" ng-thumb="{ file: uploader.queue[0]._file}"></div>
                  </div>
                </div>
                <div class="col-md-3 image-upload">
                  <div nv-file-drop="" uploader="uploader">
                    <div nv-file-over="" uploader="uploader" over-class="another-file-over-class" class="well drop-zone">
                      Arrastre imagen
                      <div class="file-upload btn">
                        <span class="fui-upload"></span>
                        <span><span class="glyphicon glyphicon-upload"></span> Imagen</span>
                        <input type="file" class="upload" nv-file-select="" uploader="uploader"/>
                      </div>
                    </div>
                  </div>
                  <p>Dimensiones: 150 x 150 px</p>
                </div>
              </div>
              <div class="form-group">
                <label for="admin-name" class="col-md-2 control-label">Nombre</label>
                <div class="col-md-8">
                  <input type="text" class="form-control" id="admin-name" placeholder="Nombre" ng-model="fieldZone.name" required>
                </div>
              </div>
              <div class="form-group">
                <label for="admin-email" class="col-md-2 control-label">Descripción</label>
                <div class="col-md-8">
                  <textarea name="description" class="form-control" cols="4" rows="10" placeholder="Descripción" ng-model="fieldZone.v_desc"></textarea>
                </div>
              </div>
              <div class="form-group">
                <div class="col-md-12 text-center">
                  <ng-include src="'modules/shared/views/spinner.tpl.html'" ng-show="fieldZoneCrudLoading"></ng-include>
                  <button type="submit" class="btn btn-yellow">Guardar</button>
                </div>
              </div>
            </form>
          </div>
        </div>

      </div>
    </div>
  </div>
</section>
