<section id="admin-home">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <h2>Clubs</h2>
        <button type="button" class="btn btn-yellow btn-add-club" ng-click="addClub()">
          Agregar Club
        </button>
        <ul class="club-list">
          <li class="club-item" ng-repeat="club in clubList track by club.id">
            <div class="club-items" ng-click="goClub(club)">
              <div class="club-logo">
                <img ng-src="{{club.picture}}" width="21" height="28" alt="">
              </div>
              <p>{{club.full_name}}</p>
            </div>
          </li>
        </ul>
      </div>
      <div class="col-md-4 col-md-offset-1">
        <h2>Mantenimiento</h2>
        <div class="crud-btn">
          <a href="/admin/field-zone">Zonas del campo</a>
        </div>
        <div class="crud-btn">
          <a href="/admin/start-type">Tipos de Inicio</a>
        </div>
        <div class="crud-btn">
          <a href="/admin/initial-penetration">Penetraciones Inicial</a>
        </div>
        <div class="crud-btn">
          <a href="/admin/player-position">Posiciones de Jugador</a>
        </div>
        <div class="crud-btn">
          <a href="/admin/field-area">Áreas del campo</a>
        </div>
        <div class="crud-btn">
          <a href="/admin/invation-level">Niveles de Invasión</a>
        </div>
        <div class="crud-btn">
          <a href="/admin/numerical-balance">Balances Numérico</a>
        </div>
        <div class="crud-btn">
          <a href="/admin/possession-passes">Pases por posesión</a>
        </div>
        <div class="crud-btn">
          <a href="/admin/penetrating-passes">Pases Penetrantes</a>
        </div>
        <div class="crud-btn">
          <a href="/admin/progression-type">Tipos de progresión</a>
        </div>
        <div class="crud-btn">
          <a href="/admin/pentagon-completion">Pentágono de Finalización</a>
        </div>
        <div class="crud-btn">
          <a href="/admin/previous-action">Acciones Previas</a>
        </div>
        <div class="crud-btn">
          <a href="/admin/completion-action">Finalizaciones de las Jugadas</a>
        </div>
        <div class="crud-btn">
          <a href="/admin/stopped-ball">Balón Parado</a>
        </div>
      </div>
    </div>
  </div>
</section>
